@model IEnumerable<InternalTradeMarket.Models.Load>
@{
    ViewBag.Title = "AdminLoads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminLoads</h2>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    table tr:hover {
        background-color: #ddd;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<table>
    <tr>
        <th>Departure City</th>
        <th>Departure ZipCode</th>
        <th>Departure Country</th>
        <th>Arrival City</th>
        <th>Arrival ZipCode</th>
        <th>Arrival Country</th>
        <th>Pickup Date</th>
        <th>Delivery Date</th>
        <th>Weight</th>
        <th>Ldm</th>
        <th>Frigo</th>
        <th>Dangerous Goods</th>
        <th>Extra Comments</th>
    </tr>
    @foreach (var loads in Model)
    {
        <tr onclick="location.href = '@Url.Action("AdminDetails", new { id = loads.Id})'">
            <td>@loads.DepartureCity</td>
            <td>@loads.DepartureZipCode</td>
            <td>@loads.DepartureCountry</td>
            <td>@loads.ArrivalCity</td>
            <td>@loads.ArrivalZipCode</td>
            <td>@loads.ArrivalCountry</td>
            <td>@loads.PickupDate.Value.ToShortDateString()</td>
            <td>@loads.DeliveryDate.Value.ToShortDateString()</td>
            <td>@loads.Weight</td>
            <td>@loads.LoadingMeter</td>
            <td>@loads.Frigo</td>
            <td>@loads.Adr</td>
            @if (loads.ExtraComments == null)
            {
                <td>No</td>
            }
            else
            {
                <td>Yes</td>
            }
        </tr>
    }
</table>
<br />
<button onclick="location.href = '@Url.Action("Index", "Admin")'", class="btn btn-primary">Back</button>